<%- include('partials/header.ejs') %>

    <section class="container my-auto" style="margin-top: 100px !important;">

        <img src="/images/Menu.jpg" class="img-thumbnail">
    </section>

<%- include ('partials/footer.ejs') %>